
@{
    ViewBag.Title = "DataTab";
}


<h2>Projects List</h2>

<table id="prjList" class="table-bordered table-striped">
   
    <thead>
        <tr>
            @*<th>Id</th>
            <th>Status</th>*@

            <th>CustomerName</th>

            <th>
                ProjectName
            </th>
            <th>
                ProjectId
            </th>
            <th>
                Start_Date
            </th>
            <th>
                End_Date
            </th>
            <th>
                ProjectStatus
            </th>
            <th>
                LocationGroup
            </th>
            <th>
                PayRollState
            </th>
            <th>
                SalesPerson
            </th>
            <th>
                ProjectCategory
            </th>
            <th>
                ProjectType
            </th>
            <th>
                SubDomain
            </th>
            <th>
                TimeSheetRepresentative
            </th>
            <th>
                ClientInvoiceGroup
            </th>
            <th>
                TimeSheetType
            </th>
            <th>
                IsVMSTimeSheet
            </th>
            <th>
                PracticeType
            </th>
            <th>
                Recruiter
            </th>
        </tr>
    </thead>
   
    @*<tfoot>
            <tr>
                <th>Id</th>
                <th>Status</th>

                <th>
                    CustomerName
                </th>
                <th>
                    ProjectName
                </th>
                <th>
                    Start_Date
                </th>
                <th>
                    End_Date
                </th>
                <th>
                    ProjectStatus
                </th>
                <th>
                    LocationGroup
                </th>
                <th>
                    PayRollState
                </th>
                <th>
                    SalesPerson
                </th>
                <th>
                    ProjectCategory
                </th>
                <th>
                    ProjectType
                </th>
                <th>
                    SubDomain
                </th>
                <th>
                    TimeSheetRepresentative
                </th>
                <th>
                    ClientInvoiceGroup
                </th>
                <th>
                    TimeSheetType
                </th>
                <th>
                    IsVMSTimeSheet
                </th>
                <th>
                    PracticeType
                </th>
                <th>
                    Recruiter
                </th>
            </tr>
        </tfoot>*@
</table>

@section scripts{
    <script>
        $(document).ready(function () {

            $("#prjList").DataTable({
                ajax: {
                    url: "/ProjectApi/GetAppRefData?parentId=1800",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "CustomerName"
                    },
                    {
                        data: "ProjectName",
                        /*   render: function (data) { return "Ye naam hai:" + data }*/
                    }],
                    //{
                    //    data:"Start_Date",
                    //},
                    //{
                    //    data: "End_Date",
                    //},
                    //{
                    //    data: "ProjectStatus",
                    //},
                    //{
                    //    data: "LocationGroup",
                    //},
                    //{
                    //    data: "PayRollState",
                    //},
                    //{
                    //    data: "SalesPerson",
                    //},
                    //{
                    //    data: "ProjectCategory",
                    //},
                    //{
                    //    data: "ProjectType",
                    //},
                    //{
                    //    data: "SubDomain",
                    //},
                    //{
                    //    data: "TimeSheetRepresentative",
                    //},
                    //{
                    //    data: "ClientInvoiceGroup",
                    //},
                    //{
                    //    data: "TimeSheetType",
                    //},
                    //{
                    //    data: "IsVMSTimeSheet",
                    //},
                    //{
                    //    data: "PracticeType",
                    //},
                    //{
                    //    data: "Recruiter",
                    //}],
             
  
          
            });

        });

    </script>
}


