

@{
    ViewBag.Title = "DataTab";
}


<h2>Projects List</h2>

<table id="prjList" class="table-bordered table-striped">

    <thead>
        <tr>

            <th>CustumerName</th>

            <th>
                ProjectName
            </th>
            <th>
                ProjectId
            </th>
            <th>
                Start_Date
            </th>
            <th>
                End_Date
            </th>
            <th>
                ProjectStatus
            </th>
            <th>
                LocationGroup
            </th>
            <th>
                PayRollState
            </th>
            <th>
                SalesPerson
            </th>
            <th>
                ProjectCategory
            </th>
            <th>
                ProjectType
            </th>
            <th>
                SubDomain
            </th>
            <th>
                TimeSheetRepresentative
            </th>
            <th>
                ClientInvoieGroup
            </th>
            <th>
                TimeSheetType
            </th>
            <th>
                IsVMSTimeSheet
            </th>
            <th>
                PracticeType
            </th>
            <th>
                Recruiter
            </th>
        </tr>


    </thead>

    <tfoot>
        <tr>

            <th>CustumerName</th>

            <th>
                ProjectName
            </th>
            <th>
                ProjectId
            </th>
            <th>
                Start_Date
            </th>
            <th>
                End_Date
            </th>
            <th>
                ProjectStatus
            </th>
            <th>
                LocationGroup
            </th>
            <th>
                PayRollState
            </th>
            <th>
                SalesPerson
            </th>
            <th>
                ProjectCategory
            </th>
            <th>
                ProjectType
            </th>
            <th>
                SubDomain
            </th>
            <th>
                TimeSheetRepresentative
            </th>
            <th>
                ClientInvoieGroup
            </th>
            <th>
                TimeSheetType
            </th>
            <th>
                IsVMSTimeSheet
            </th>
            <th>
                PracticeType
            </th>
            <th>
                Recruiter
            </th>
        </tr>
    </tfoot>




</table>

@section scripts{
    <script>
       /* const { document } = require("jquery");*/

        $(document).ready(function () {

            $("#prjList").DataTable({
                ajax: {
                    url: "/ProjectApi/GetProjectsList",
                    dataSrc: ""

                },
                columns: [
                    {
                        data: "customerName"
                    },
                    {
                        data: "projectName"
                        /*   render: function (data) { return "Ye naam hai:" + data }*/
                    },
                    {
                        data: "projectId"
                    },
                    {
                        data:"start_Date"
                    },
                    {
                        data: "end_Date"
                    },
                    {
                        data: "projectStatus"
                    },
                    {
                        data: "locationGroup"
                    },
                    {
                        data: "payRollState"
                    },
                    {
                        data: "salesPerson"
                    },
                    {
                        data: "projectCategory"
                    },
                    {
                        data: "projectType"
                    },
                    {
                        data: "subDomain"
                    },
                    {
                        data: "timeSheetRepresentative"
                    },
                    {
                        data: "clientInvoiceGroup"
                    },
                    {
                        data: "timeSheetType"
                    },
                    {
                        data: "isVMSTimeSheet"
                    },
                    {
                        data: "practiceType"
                    },
                    {
                        data: "recruiter"
                    }
                    ]



            });

        });

    </script>
}


