

@{
    ViewBag.Title = "DataTab";
}


<h2>Projects List</h2>

<div class="col-md-3">
    <div class="form-group">
        <label>Project Type </label>
        <select id="ddlProjectType" class="form-control">
            <option value="" disabled selected hidden>Select Project Type</option>
        </select>
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <label>Practice Type </label>
        <select id="ddlPracticeType" class="form-control">
            <option value="" disabled selected hidden>Select Project Type</option>
        </select>
    </div>
</div>


<div class="col-md-3">
    <label>Search</label>
    <input class="form-control" type="text" id="Search" />
    <input type="button" value="Submit" id="btnSave" />
</div>


    
    




<table id="prjList" class="table-bordered table-striped">





    <thead>
        <tr>

            <th>EmployeeName</th>

            <th>
                ProjectName
            </th>
            <th>
                ProjectId
            </th>
            <th>
                Start_Date
            </th>
            <th>
                End_Date
            </th>
            <th>
                ProjectStatus
            </th>
            <th>
                LocationGroup
            </th>
            <th>
                PayRollState
            </th>
            <th>
                SalesPerson
            </th>
            <th>
                ProjectCategory
            </th>
            <th>
                ProjectType
            </th>
            <th>
                SubDomain
            </th>
            <th>
                TimeSheetRepresentative
            </th>
            <th>
                ClientInvoieGroup
            </th>
            <th>
                TimeSheetType
            </th>
            <th>
                IsVMSTimeSheet
            </th>
            <th>
                PracticeType
            </th>
            <th>
                Recruiter
            </th>


            <th>Id</th>



        </tr>






    </thead>




    <tfoot>
        <tr>

            <th>EmployeeName</th>

            <th>
                ProjectName
            </th>
            <th>
                ProjectId
            </th>
            <th>
                Start_Date
            </th>
            <th>
                End_Date
            </th>
            <th>
                ProjectStatus
            </th>
            <th>
                LocationGroup
            </th>
            <th>
                PayRollState
            </th>
            <th>
                SalesPerson
            </th>
            <th>
                ProjectCategory
            </th>
            <th>
                ProjectType
            </th>
            <th>
                SubDomain
            </th>
            <th>
                TimeSheetRepresentative
            </th>
            <th>
                ClientInvoieGroup
            </th>
            <th>
                TimeSheetType
            </th>
            <th>
                IsVMSTimeSheet
            </th>
            <th>
                PracticeType
            </th>
            <th>
                Recruiter
            </th>


            <th>Id</th>


        </tr>
    </tfoot>




</table>

@section scripts{
    <script>
    

        $(document).ready(function () {
            BindProjectTypeList();
            BindPracticeTypeList();
            $("#btnSave").on("click", function () {

            });



            function BindProjectTypeList() {
                $.ajax({
                    method: "GET",
                    url: "/ProjectApi/GetProjectType?parentId=4650",
                    success: function (data) {
                        console.log(data);
                        $(data).each(function () {
                            $("#ddlProjectType").append($("<option></option>").val(this.keyId).html(this.keyName));
                        });
                    },


                    error: function () { }
                })
            }


            function BindPracticeTypeList() {
                $.ajax({
                    method: "GET",
                    url: "/ProjectApi/GetPracticeType?parentId=15760",
                    success: function (data) {
                        console.log(data);
                        $(data).each(function () {
                            $("#ddlPracticeType").append($("<option></option>").val(this.keyId).html(this.keyName));
                        });
                    },



                    error: function () { }
                });

            }
        })

        $(document).ready(function () {

            $("#prjList").DataTable({
                ajax: {
                    url: "/ProjectApi/GetProjectsList",
                    dataSrc: ""

                },




                columns: [
                    {
                        data: "customerName"
                    },
                    {
                        data: "projectName"
                        /*   render: function (data) { return "Ye naam hai:" + data }*/
                    },
                    {
                        data: "projectId",
                                  
                     
                    },
                    {
                        data: "start_Date"
                    },
                    {
                        data: "end_Date"
                    },
                    {
                        data: "projectStatus"
                    },
                    {
                        data: "locationGroup"
                    },
                    {
                        data: "payRollState"
                    },
                    {
                        data: "salesPerson"
                    },
                    {
                        data: "projectCategory"
                    },
                    {
                        data: "projectType"
                    },
                    {
                        data: "subDomain"
                    },
                    {
                        data: "timeSheetRepresentative"
                    },
                    {
                        data: "clientInvoiceGroup"
                    },
                    {
                        data: "timeSheetType"
                    },
                    {
                        data: "isVMSTimeSheet"
                    },
                    {
                        data: "practiceType"
                    },
                    {
                        data: "recruiter"
                    },
                    {
                       data: "ProjectId",
 
                        render: function (ProjectId, type, row) {
                            
                            return '<a href="Edit"' + row.ProjectId + '">EDIT</a>'
                          
                        }
                    } ]



            });


        });

    
                                          



    </script>
}


