

@{
    ViewBag.Title = "SampleAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SampleAdd</h2>



<form name="ProForm">


    <div class="col-md-6">
        <div class="form-group">
            <label>EmployeeName</label>

            <input type="text" id="CustomerName" class="form-control" />

        </div>

        <div class="form-group">
            <label>ProjectName</label>
            <input type="text" id="ProjectName" class="form-control" />
        </div>

        <div class="form-group">
            <label>ProjectId</label>
            <input type="text" id="ProjectId" class="form-control" />
        </div>

        <div class="form-group">
            <label>Start_Date</label>
            <input type="date" id="Start_Date" class="form-control" />
        </div>

        <div class="form-group">
            <label>End_Date</label>
            <input type="date" id="End_Date" class="form-control" />
        </div>


        <div class="form-group">
            <label>Project Status</label>
            <select id="ddlProjectStatus" class="form-control">
                @*<option value="" disabled selected hidden>Select Project Status</option>*@
                <option> Select Project Status</option>
            </select>
        </div>





        <div class="form-group">
            <label>Project Type </label>
            <select id="ddlProjectType" class="form-control">
                <option value="" disabled selected hidden>Select Project Type</option>
            </select>
        </div>


        <div class="form-group">
            <label>Project Category </label>
            <select id="ddlProjectCategory" class="form-control">
                <option value="" disabled selected hidden>Select Project Category</option>
            </select>
        </div>



        <div class="form-group">
            <label>LocationGroup </label>
            <select id="ddlLocationGroup" class="form-control">
                <option value="" disabled selected hidden>Select Loation Group</option>
            </select>
        </div>


    </div>


    <div class="form-group">
        <label>PayRollState </label>
        <select id="ddlPayRollState" class="form-control">
            <option value="" disabled selected hidden>Select PayRoll State</option>
        </select>
    </div>

    <div class="form-group">
        <label>SalesPerson</label>
        <select id="ddlSalesPersonName" class="form-control">
            <option value="" disabled selected hidden>Select Sales Person</option>
        </select>
    </div>



    <div class="form-group">
        <label>Sub Domain </label>
        <select id="ddlSubDomain" class="form-control">
            <option value="" disabled selected hidden>Select Sub Domain</option>
        </select>
    </div>

    <div class="form-group">
        <label>TimeSheet Representative </label>
        <select id="ddlTimeSheetRepresentative" class="form-control">
            <option value="" disabled selected hidden>Select TimeSheet Representative</option>
        </select>
    </div>

    <div class="form-group">
        <label>Timesheet Type </label>
        <select id="ddlTimesheetType" class="form-control">
            <option value="" disabled selected hidden>Select TimeSheet Type</option>
        </select>
    </div>

    <div class="form-group">
        <label>Practice Type</label>
        <select id="ddlPracticeType" class="form-control">
            <option value="" disabled selected hidden>Select Practice Type</option>
        </select>
    </div>

    <div class="form-group">
        <label>Recruiter</label>
        <select id="ddlRecruiter" class="form-control">
            <option value="" disabled selected hidden>Select  Recruiter</option>
        </select>
    </div>

    <div class="form-group">
        <label>Client Invoice Group</label>
        <select id="ddlInvoiceGroup" class="form-control">
            <option value="" disabled selected hidden>Select Invoice Group</option>
        </select>
    </div>


    <div class="form-group">
        <label>Is VMS TimeSheet</label>
        <input type="radio" id="ddlIsVms1" name="IsVMSTimeSheet" value="Yes"><label for="ddlIsVmsYes">Yes</label>
        <input type="radio" id="ddlIsVms2" name="IsVMSTimeSheet" value="No"><label for="ddlIsVmsNo">No</label>
    </div>


    <input type="button" value="Submit" id="btnSave" />
</form>

@section scripts{

    <script>

        $(document).ready(function () {
            $.when(BindProjectStatusList(),
                BindProjectTypeList(),
                BindProjectCategoryList(),
                BindClientInvoiceGroupList(),
                BindTimeSheetTypeList(),
                BindPracticeTypeList(),
                BindRecruiterList(),
                BindDomainList(),
                BindLocationList(),
                BindTimeSheetRepList(),
                BindSalesPersonList(),
                BindPayRollList()).done(function () {
                    console.log("ddlProjectStatus");
                    console.log("ddlLocationGroup");
                    console.log("ddlPayRollState");
                    console.log("ddlProjectType");
                    console.log("#ddlSalesPersonName");
                    console.log("ddlProjectCategory");
                    console.log("ddlSubDomain");
                    console.log("ddlTimeSheetRepresentative");
                    console.log("ddlTimesheetType");
                    console.log("ddlPracticeType");
                    console.log("ddlRecruiter");
                    console.log("ddlInvoiceGroup");


                    GetData();
                })

            $("#btnSave").on("click", function () {

                if (IsValidate()) {
                    SaveData();
                }


            });

        });













        function clearMessageJQ(ele) {
            $(ele).siblings('span.error').remove();
        }


        function addErrorMessageJQ(ele, msg) {
            const errorCtrl = $('<span />').addClass('error').html(msg);
            $(ele).closest('div').append(errorCtrl);
        }

        function CustNameValidation() {
            let flag = true;
            const ele = $('#CustomerName');
            clearMessageJQ(ele)
            const ProjName = $('#CustomerName').val();


            if (ProjName === "" || ProjName.length <= 2 || !isNaN(ProjName.split('')[0])) {
                addErrorMessageJQ(ele, 'Please fill the Customer Name');
                console.log(ProjName);
                flag = false;
            } else {
                flag = true;
            }
            return flag;
        }

        function ProjNameValidation() {
            let flag = true;
            const ele = $('#ProjectName');
            clearMessageJQ(ele)
            const ProjName = $('#ProjectName').val();


            if (ProjName === "" || ProjName.length <= 2 || !isNaN(ProjName.split('')[0])) {
                addErrorMessageJQ(ele, 'Please fill the Project Name');
                console.log(ProjName);
                flag = false;
            } else {
                flag = true;
            }
            return flag;
        }

        function StartDateValidation() {
            let flag = true;
            const ele = $('#Start_Date');
            clearMessageJQ(ele)
            const ProjName = $('#Start_Date').val();


            if (ProjName === "") {
                addErrorMessageJQ(ele, 'Please Select the Start Date');
                console.log(ProjName);
                flag = false;
            } else {
                flag = true;
            }
            return flag;
        }


        function ProjStatusValidation() {
            let flag = true;
            const ele = $('#ddlProjectStatus');
            clearMessageJQ(ele)
            const ProjName = $('#ddlProjectStatus').val();


            if (ProjName === "Select Project Status") {
                addErrorMessageJQ(ele, 'Please Select the Project Status');
                console.log(ProjName);
                flag = false;
            } else {
                flag = true;
            }
            return flag;
        }






        function IsValidate() {
            if (!CustNameValidation()) {
                flag = false;
            }
            if (!ProjNameValidation()) {
                flag = false;
            }
            if (!StartDateValidation()) {
                flag = false;
            }
            if (!ProjStatusValidation()) {
                flag = false;
            }
            return true;
        }



        function SaveData() {
            let Project = {

                CustomerName: "",
                ProjectName: "",
                ProjectId: "",
                Start_Date: "",
                End_Date: "",
                ProjectStatus: "",
                ProjectType: "",
                ProjectCategory: "",
                LocationGroup: "",
                PayRollState: "",
                SalesPerson: "",
                SubDomain: "",
                TimeSheetRepresentative: "",
                TimeSheetType: "",
                PracticeType: "",
                Recruiter: "",
                ClientInvoiceGroup: "",
                IsVMSTimeSheet: ""

            };

            Project.CustomerName = $("#CustomerName").val();
            Project.ProjectName = $("#ProjectName").val();
            Project.ProjectId = $("#ProjectId").val();
            Project.Start_Date = $("#Start_Date").val();
            Project.End_Date = $("#End_Date").val();
            Project.ProjectStatus = $("#ddlProjectStatus ").val();
            Project.LocationGroup = $("#ddlLocationGroup ").val();
            Project.PayRollState = $("#ddlPayRollState ").val();
            Project.ProjectType = $("#ddlProjectType ").val();
            Project.SalesPerson = $("#ddlSalesPersonName ").val();
            Project.ProjectCategory = $("#ddlProjectCategory ").val();
            Project.SubDomain = $("#ddlSubDomain ").val();
            Project.TimeSheetRepresentative = $("#ddlTimeSheetRepresentative ").val();
            Project.TimeSheetType = $("#ddlTimesheetType ").val();
            Project.PracticeType = $("#ddlPracticeType ").val();
            Project.Recruiter = $("#ddlRecruiter ").val();
            Project.ClientInvoiceGroup = $("#ddlInvoiceGroup ").val();
            Project.IsVMSTimeSheet = $("input[name='IsVMSTimeSheet']:checked").val();



            console.log(Project);


            $.ajax({
                method: "POST",
                url: "/ProjectApi/GetUpdate",
                dataType: "json",
                data: Project,
                success: function () {
                    alert("The Data is Updated")
                    window.location.href = "/Sample/DataTable";
                },
                error: function () { }
            });
        }

       




        function GetData() {

            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetEmpData?ProjectId=9092",
                success: function (data) {
                    
                    console.log(data);
                    console.log(data[0]);
                    console.log(data[0].isVMSTimeSheet);
                  
                    $("#CustomerName").val(data[0].customerName);
                    $("#ProjectName").val(data[0].projectName);
                    $("#ProjectId").val(data[0].projectId);
                    $("#Start_Date").val(data[0].start_Date);
                    $("#End_Date").val(data[0].end_Date);
                    $("#ddlProjectStatus").val(data[0].projectStatus);
                    $("#ddlLocationGroup").val(data[0].locationGroup);
                    $("#ddlPayRollState").val(data[0].payRollState);
                    $("#ddlSalesPersonName").val(data[0].salesPerson);
                    $("#ddlProjectCategory").val(data[0].projectCategory);
                    $("#ddlProjectType").val(data[0].projectType);
                    $("#ddlSubDomain").val(data[0].subDomain);
                    $("#ddlTimeSheetRepresentative").val(data[0].timeSheetRepresentative);
                    $("#ddlInvoiceGroup").val(data[0].clientInvoiceGroup);
                    $("#ddlTimesheetType").val(data[0].timeSheetType);

                    $("input[name='IsVMSTimeSheet']:checked").val(data[0].isVMSTimeSheet);
                    
                    $("#ddlPracticeType").val(data[0].practiceType);
                    $("#ddlRecruiter").val(data[0].recruiter);
                  
                },
                error: function () { }
            })

        }





        function BindProjectStatusList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetAppRefData?parentId=1800",
                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlProjectStatus").append($("<option></option>").val(this.keyId).html(this.keyName));
                    });
                },

                error: function () { }
            });

        }



        function BindProjectTypeList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetProjectType?parentId=4650",
                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlProjectType").append($("<option></option>").val(this.keyId).html(this.keyName));
                    });
                },


                error: function () { }
            })
        }



        function BindProjectCategoryList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetProjectCategory?parentId=19491",
                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlProjectCategory").append($("<option></option>").val(this.keyId).html(this.keyName));
                    });
                },



                error: function () { }
            })
        }




        function BindClientInvoiceGroupList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetClientInvoiceGroup?parentId=10300",
                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlInvoiceGroup").append($("<option></option>").val(this.keyId).html(this.keyName));
                    });
                },



                error: function () { }
            })
        }




        function BindTimeSheetTypeList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetTimeSheetType?parentId=13120",
                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlTimesheetType").append($("<option></option>").val(this.keyId).html(this.keyName));
                    });
                },



                error: function () { }
            });

        }



        function BindPracticeTypeList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetPracticeType?parentId=15760",
                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlPracticeType").append($("<option></option>").val(this.keyId).html(this.keyName));
                    });
                },



                error: function () { }
            });

        }


        function BindRecruiterList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetRecruiters",
                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlRecruiter").append($("<option></option>").val(this.id).html(this.name));
                    });
                },



                error: function () { }
            });

        }

        function BindDomainList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetDomains",
                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlSubDomain").append($("<option></option>").val(this.id).html(this.name));
                    });
                },



                error: function () { }
            });

        }




        function BindLocationList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetLocation",
                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlLocationGroup").append($("<option></option>").val(this.id).html(this.name));
                    });
                },


                error: function () { }
            });

        }


        function BindTimeSheetRepList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetTimeSheetRep",
                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlTimeSheetRepresentative").append($("<option></option>").val(this.id).html(this.name));
                    });
                },



                error: function () { }
            });

        }


        function BindSalesPersonList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetSalesPerson",

                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlSalesPersonName").append($("<option></option>").val(this.id).html(this.name));
                    });
                },



                error: function () { }
            });

        }


        function BindPayRollList() {
            $.ajax({
                method: "GET",
                url: "/ProjectApi/GetPayRoll",
                success: function (data) {
                    //console.log(data);
                    $(data).each(function () {
                        $("#ddlPayRollState").append($("<option></option>").val(this.id).html(this.name));
                    });
                },



                error: function () { }
            });

        }

        

    </script>
}





