
@model WebApplication2.Controllers.API.SampleController


@{ 
    
    ViewBag.Title = "SampleAdd";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    
    }

<h2>SampleAdd</h2>
<form>
    <div class="form-group">
        <label>CustomerName</label>
        <label>ProjectName</label>
        <label>ProjectId</label>
        <label>Start_Date</label>
        <label>End_Date</label>
        <label>ProjectStatus</label>
        <input type="text" id="empName" />
    </div>

    <div class="form-group">
        <label>Project Status</label>
        <select id="ddlProjectId">
        </select>
    </div>
    <div class="form-group">
        <label>Project Type</label>
        <select id="ddlProjectType">
        </select>
    </div>
    <input type="button" value="Save" id="btnSave" />
</form>

@section scripts{

    <script>$(document).ready(function(){
            BindProjectTypeList();
            $("#btnSave").on("click", function () {
                if (IsValidate()) {
                    SaveData();
                }

            });
        });

        function IsValidate() {
            return true;
        }
        function BindProjectTypeList() {
            $.ajax({
                method: "GET",
                url: "/sample/GetAppRefData?parentId=1800",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }



        

        function BindProjectTypeList() {
            $.ajax({
                method: "GET",
                url: "/sample/GetAppRefData?parentId=4650",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            });
        }
    </script>
}